
@{
    ViewBag.Title = "initial";
}

<!DOCTYPE html>
<link rel="stylesheet" href="css/style.css" />
<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700"/> -->
<body class="initcontent-body">


    <div class="initcontent">

        <a class="card" href="@Url.Register()">
            <div class="front" style="background-image: url('/Content/images/init/b.jpg')">
                
                <h1>مرشحين </h1>

            </div>
            <div class="back">
               

                    <button class="button"> تسجيل دخول </button>
                
            </div>
        </a><a class="card" href="@Url.EmployeeRegister()">
            <div class="front" style="background-image: url('/Content/images/init/b.png')">
                <h1>وزارات</h1>
            </div>
            <div class="back">
                

                    <button class="button">تسجيل دخول  </button>
               
            </div>
        </a>
    </div>

</body>
</html>

